.pink {
    background-color: #FFE4C0;
    color: #495371;
}

.pink .tag-close {
    background-color: #FFBBBB;
    color: #fff;
}

.blue {
    background-color: #94DAFF;
    color: #495371;
}

.blue .tag-close {
    background-color: #99FEFF;
    color: #fff;
}